{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.characters.infos.title' | trans | capitalize }}{% endblock %}

{% block body_class %}character{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.user.characters.infos.title' | trans | capitalize }}</h1>

            <div class="character_infos">
                <div class="image">
                    <p>
                        <img src="{{ asset('assets/images/characters/' ~ character.avatar) }}" class="app_image" alt="{{ character.name }}" />
                    </p>

                    <p>
                        <a href="{{ path('user.characters') }}" class="app_button" title="{{ 'pages.user.characters.title' | trans | capitalize }}">
                            {{ 'default.back' | trans | capitalize }}
                        </a>
                    </p>
                </div>
                <div class="details">
                    <div class="content">
                        <h2 class="character_name">{{ character.name }}</h2>

                        <p>{{ character.surname }}</p>

                        <p>{{ character.allegiance }}</p>

                        <p>
                           <span>
                               {{ character.size }} | {{ character.weight }} | {{ character.age }} ans | {{ character.coinpurse }} <i class="fas fa-money-bill"></i>
                           </span>
                        </p>

                        <p>
                            <strong>Origine :</strong> {{ character.birthplace }}
                        </p>

                        <p>
                            <strong>Habitat :</strong> {{ character.homeplace }}
                        </p>

                        <p>
                            <strong>Occupation :</strong> {{ character.occupation }}
                        </p>

                        <p>{{ character.relatives }}</p>

                        <span>Description</span>
                        <blockquote>{{ character.description }}</blockquote>

                        <span>Histoire</span>
                        <blockquote>{{ character.story }}</blockquote>

                        <span>Signes distinctifs</span>
                        <blockquote>{{ character.distinctive }}</blockquote>

                        <span>Notes</span>
                        <blockquote>{{ character.notes }}</blockquote>

                    </div>
                    <div class="icons">
                        <i class="fas fa-{% if character.gender == 'F' %}venus{% else %}mars{% endif %}"></i>

                        <i class="fas fa-hand-point-{% if character.guidingHand == 'droitier' %}right{% else %}left{% endif %}"></i>
                    </div>
                </div>
            </div>

            {# <p>{{ character.tribe.name }}</p> #}

        </section>
    </article>
{% endblock %}
