{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.characters.infos.title' | trans | capitalize }}{% endblock %}

{% block body_class %}character{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.user.characters.infos.title' | trans | capitalize }}</h1>

            <div class="character_infos">
                <div class="image">
                    <div class="app_group">
                        <p>
                            <img src="{{ asset('assets/images/characters/' ~ character.avatar) }}" class="app_image" alt="{{ character.name }}" />
                        </p>

                        <div class="icons">
                            <span>
                                <i class="fas fa-{% if character.gender | lower == 'femme' %}venus{% else %}mars{% endif %}"></i>
                                {{ character.gender | capitalize }}
                            </span>

                            <span>
                                <i class="fas fa-hand-point-{% if character.guidingHand | lower == 'droitier' %}right{% else %}left{% endif %}"></i>
                                {{ character.guidingHand | capitalize }}
                            </span>

                            <span>
                                <i class="fas fa-text-height"></i>
                                {{ character.size }}
                            </span>

                            <span>
                                <i class="fas fa-weight-hanging"></i>
                                {{ character.weight }}
                            </span>

                            <span>
                                <i class="fas fa-coins"></i>
                                {{ character.coinpurse }}
                            </span>
                        </div>
                    </div>

                    <div class="actions">
                        <a href="{{ path('user.characters') }}" class="app_button" title="{{ 'pages.user.characters.title' | trans | capitalize }}">
                            {{ 'default.back' | trans | capitalize }}
                        </a>

                        <a href="{{ path('user.characters.sheet', {'id': character.id}) }}" class="app_button" title="{{ 'pages.user.characters.sheet.title' | trans | capitalize }}">
                            <i class="fas fa-scroll"></i>
                        </a>

                        <a href="{{ path('user.characters.edit', {'id': character.id}) }}" class="app_button" title="{{ 'pages.user.characters.edit.title' | trans | capitalize }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>
                <div class="details">
                    <div class="content">
                        <h2 class="character_name">{{ character.name }} {{ character.surname }}</h2>

                        <p>
                            <strong>Chaos : {{ character.chaos }}</strong>
                        </p>
                        <p>
                            <strong>Balance : {{ character.balance }}</strong>
                        </p>
                        <p>
                            <strong>Loi : {{ character.loi }}</strong>
                        </p>

                        {% if character.age %}
                            <p>
                                <strong>Age :</strong> {{ character.age }} ans
                            </p>
                        {% endif %}

                        {% if character.birthplace %}
                            <p>
                                <strong>Origine :</strong> {{ character.birthplace }}
                            </p>
                        {% endif %}

                        {% if character.homeplace %}
                            <p>
                                <strong>Habitat :</strong> {{ character.homeplace }}
                            </p>
                        {% endif %}

                        {% if character.occupation %}
                            <p>
                                <strong>Occupation :</strong> {{ character.occupation }}
                            </p>
                        {% endif %}

                        {% if character.relatives %}
                            <p>
                                <strong>Compagnons :</strong> {{ character.relatives }}
                            </p>
                        {% endif %}

                        {% if character.description %}
                            <span>Description</span>
                            <blockquote>{{ character.description | raw }}</blockquote>
                        {% endif %}

                        {% if character.story %}
                            <span>Histoire</span>
                            <blockquote>{{ character.story | raw }}</blockquote>
                        {% endif %}

                        {% if character.distinctive %}
                            <span>Signes distinctifs</span>
                            <blockquote>{{ character.distinctive }}</blockquote>
                        {% endif %}

                        {% if character.notes %}
                            <span>Notes</span>
                            <blockquote>{{ character.notes | raw }}</blockquote>
                        {% endif %}

                    </div>
                </div>
            </div>

            {# <p>{{ character.tribe.name }}</p> #}

        </section>
    </article>
{% endblock %}
