{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.create.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ 'pages.play.create.title' | trans | capitalize }}</h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans | capitalize }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {{ form_start(form, { attr: { 'class': 'app_form'}}) }}
            <div class="app_form_group">
                {{ form_widget(form.campaign) }}
                <label for="{{ form.campaign.vars.id }}">{{ form.campaign.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.name) }}
                <label for="{{ form.name.vars.id }}">{{ form.name.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.shortDescription) }}
                <label for="{{ form.shortDescription.vars.id }}">{{ form.shortDescription.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.startAt) }}
                <label for="{{ form.startAt.vars.id }}">{{ form.startAt.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group checkbox">
                {{ form_widget(form.isPrivate) }}
                <label for="{{ form.isPrivate.vars.id }}">{{ form.isPrivate.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group mb_0">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </section>

        <aside>
            <h2>{{ 'pages.play.create.menu' | trans | capitalize }}</h2>

            <span><i class="fas fa-scroll"></i> {{ game.name }}</span>
        </aside>
    </article>
{% endblock %}
