{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.create.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ 'pages.play.create.title' | trans | capitalize }}</h1>

            <form class="app_form" method="post" action="{{ path('play.invite') }}">
                <div class="app_form_group">
                    <input type="text" id="play_tablename" name="play_tablename" class="app_form_control" placeholder="{{ 'play.game.name.placeholder' | trans | capitalize }}" required />
                    <label for="play_tablename">{{ 'play.game.name.label' | trans | capitalize }}</label>
                </div>

                <div class="app_form_group">
                    <input type="datetime-local" name="play_date" id="play_date" class="app_form_control" required />
                    <label for="play_date">{{ 'play.game.start' | trans | capitalize }}</label>
                </div>

                <div class="app_form_group">
                    <select name="play_private" id="play_private" class="app_form_control" required>
                        <option value="false">{{ 'play.game.visibility.public' | trans | capitalize }}</option>
                        <option value="true">{{ 'play.game.visibility.private' | trans | capitalize }}</option>
                    </select>
                    <label for="play_private">{{ 'play.game.visibility.title' | trans | capitalize }}</label>
                </div>

                <div class="app_form_group">
                    <input type="hidden" name="play_game_id" value="{{ gameId }}" />
                </div>

                <div class="app_grid two">
                    <div class="app_form_group mb_0">
                        <a href="{{ path('games') }}" class="app_button">{{ 'default.cancel' | trans | capitalize }}</a>
                    </div>

                    <div class="app_form_group mb_0">
                        <button type="submit" class="app_button cta">{{ 'play.game.submit.label' | trans | capitalize }}</button>
                    </div>
                </div>
            </form>
        </section>

        <aside>
            <h2>{{ 'pages.play.create.menu' | trans | capitalize }}</h2>

            <span><i class="fas fa-scroll"></i> {{ gameName }}</span>
        </aside>
    </article>
{% endblock %}
