{% extends 'base.html.twig' %}

{% block title %}
    {% if mode == 'add' %}
        {{ 'pages.play.create.title' | trans | capitalize }}
    {% else %}
        {{ 'pages.play.edit.title' | trans | capitalize }}
    {% endif %}
{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>
                {% if mode == 'add' %}
                    {{ 'pages.play.create.title' | trans | capitalize }}
                {% else %}
                    {{ 'pages.play.edit.title' | trans | capitalize }}
                {% endif %}
            </h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans | capitalize }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {{ form_start(form, { attr: { 'class': 'app_form'}}) }}
            <div class="app_form_group">
                {{ form_widget(form.campaign) }}
                <label for="{{ form.campaign.vars.id }}">{{ form.campaign.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.name) }}
                <label for="{{ form.name.vars.id }}">{{ form.name.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.shortDescription) }}
                <label for="{{ form.shortDescription.vars.id }}">{{ form.shortDescription.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.description) }}
                <label for="{{ form.description.vars.id }}">{{ form.description.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.startAt) }}
                <label for="{{ form.startAt.vars.id }}">{{ form.startAt.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group checkbox">
                {% if mode == 'edit' %}
                    {% if scenario.isPrivate %}
                        {{ form_widget(form.isPrivate, {'attr': {'checked': 'checked'}}) }}
                    {% else %}
                        {{ form_widget(form.isPrivate) }}
                    {% endif %}
                {% else %}
                    {{ form_widget(form.isPrivate) }}
                {% endif %}
                <label for="{{ form.isPrivate.vars.id }}">{{ form.isPrivate.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_grid two">
                <div class="app_form_group app_grid_item mb_0">
                    {% if mode == 'add' %}
                        <a href="{{ path('games') }}" class="app_button">{{ 'default.cancel' | trans | capitalize }}</a>
                    {% else %}
                        <a href="{{ path('user.play.myscenarios') }}" class="app_button">{{ 'default.cancel' | trans | capitalize }}</a>
                    {% endif %}
                </div>

                <div class="app_form_group app_grid_item mb_0">
                    {{ form_widget(form.submit, {'label': mode == 'add' ? 'play.game.submit.label' : 'play.game.edit.label'}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </section>

        <aside>
            <h2>
                {% if mode == 'add' %}
                    {{ 'pages.play.create.menu' | trans | capitalize }}
                {% else %}
                    {{ 'pages.play.edit.menu' | trans | capitalize }}
                {% endif %}
            </h2>

            <span>
                <img src="{{ asset('assets/images/games/' ~ scenario.game.media) }}" class="app_image" alt="{{ scenario.game.name }}">
            </span>

            <span><i class="fas fa-scroll"></i> {{ scenario.game.name }}</span>

            {% if mode == 'edit' %}
                <span><i class="fas fa-clock"></i> {{ scenario.startAt | date('d/m/Y H:i') }}</span>

                {% if scenario.isPrivate %}
                    <span><i class="fas fa-eye-slash"></i> {{ 'play.game.isPrivate.label' | trans | capitalize }}</span>
                {% endif %}
            {% endif %}

            <hr />

            <a href="{{ path('user.campaign') }}" class="app_button">Gère tes campagnes</a>
        </aside>
    </article>
{% endblock %}
