{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.play.title' | trans | capitalize }}</h1>

            <div class="app_filters">
                <h2>{{ 'pages.play.title2' | trans | capitalize }}</h2>

                <div class="app_filters_controls">
                    <select name="tables_game" id="tables_game" class="app_filter_select">
                        <option value="all">{{ 'pages.games.title' | trans | capitalize }}</option>
                        {% for scenario in scenarios %}
                            <option value="{{ scenario.game.id }}">{{ scenario.game.name }}</option>
                        {% endfor %}
                        {% for game in games %}
                            <option value="{{ game.id }}">{{ game.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="app_grid four app_slider xs">

                {% for scenario in scenarios %}
                    <div class="game app_grid_item app_slider_item" data-gameid="{{ scenario.game.id }}">
                        <div class="app_grid_item_header">
                            <img src="{{ asset('assets/images/games/' ~ scenario.game.media) }}" alt="{{ scenario.game.name }}" class="app_grid_item_image" />
                            <h3 class="app_grid_item_title">{{ scenario.game.name }}</h3>
                            <h4 class="app_grid_item_subtitle">{{ scenario.name }}</h4>
                            <p class="app_grid_item_info">
                                <strong>{{ scenario.startAt | date('d/m/Y H:i') }}</strong>
                            </p>
                            {% if app.user %}
                                <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                                    <i class="fas fa-users"></i>
                                    <strong>4/5</strong>
                                </p>
                            {% endif %}
                        </div>
                        <div class="app_grid_item_footer">
                            {% if app.user %}
                                <span class="app_grid_item_footer_action">
                                    {% if scenario.isPrivate %}
                                        {{ 'play.game.visibility.private' | trans | capitalize }}
                                    {% else %}
                                        {{ 'play.game.visibility.public' | trans | capitalize }}
                                    {% endif %}
                                </span>

                                <a href="#" class="app_grid_item_footer_action button cta" title="Rejoindre la partie">Rejoindre</a>
                            {% else %}
                                <span class="app_grid_item_footer_action">
                                    {% if scenario.isPrivate %}
                                        {{ 'play.game.visibility.private' | trans | capitalize }}
                                    {% else %}
                                        {{ 'play.game.visibility.public' | trans | capitalize }}
                                    {% endif %}
                                </span>

                                <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                    {{ 'pages.login.menu' | trans | capitalize }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="game app_grid_item app_slider_item" data-gameid="2">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Donjons & Dragons</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info">
                            <strong>24/07/2021 19:00</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                                <i class="fas fa-users"></i>
                                <strong>4/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="#" class="app_grid_item_footer_action button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app_grid_item app_slider_item" data-gameid="4">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">L'appel de Cthulhu</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info">
                            <strong>25/07/2021 19:23</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                                <i class="fas fa-users"></i>
                                <strong>3/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Privée</span>

                            <span class="app_grid_item_footer_action"><i class="fas fa-lock"></i></span>
                        {% else %}
                            <span class="app_grid_item_footer_action">Privée</span>

                            <span class="app_grid_item_footer_action"><i class="fas fa-lock"></i></span>
                        {% endif %}
                    </div>
                </div>

                <div class="game app_grid_item app_slider_item" data-gameid="3">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Chroniques Oubliées</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info">
                            <strong>26/07/2021 13:42</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                                <i class="fas fa-users"></i>
                                <strong>1/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="#" class="app_grid_item_footer_action button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app_grid_item app_slider_item" data-gameid="4">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">L'appel de Cthulhu</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info">
                            <strong>27/07/2021 08:00</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                                <i class="fas fa-users"></i>
                                <strong>5/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <span class="app_grid_item_footer_action"><i class="fas fa-lock"></i></span>
                        {% else %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <span class="app_grid_item_footer_action"><i class="fas fa-lock"></i></span>
                        {% endif %}
                    </div>
                </div>

                <div class="game app_grid_item app_slider_item" data-gameid="2">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Donjons & Dragons</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                            <strong>28/07/2021 22:00</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info">
                                <i class="fas fa-users"></i>
                                <strong>2/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="#" class="app_grid_item_footer_action button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app_grid_item app_slider_item" data-gameid="3">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Chroniques Oubliées</h3>
                        <h4 class="app_grid_item_subtitle">Nom du scénario</h4>
                        <p class="app_grid_item_info {% if app.user %}mb_0{% endif %}">
                            <strong>30/07/2021 20:30</strong>
                        </p>
                        {% if app.user %}
                            <p class="app_grid_item_info">
                                <i class="fas fa-users"></i>
                                <strong>2/5</strong>
                            </p>
                        {% endif %}
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="#" class="app_grid_item_footer_action button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Publique</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </section>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const gamesThumbnails = document.querySelectorAll(('.game'))
            const filterSelect = document.getElementById('tables_game')
            filterSelect.addEventListener('change', event => {
                const gameId = filterSelect.value
                if (gameId === 'all') {
                    for (const gameThumbnail of gamesThumbnails) {
                        gameThumbnail.style.display = 'block'
                    }
                } else {
                    for (const gameThumbnail of gamesThumbnails) {
                        if (parseInt(gameThumbnail.dataset.gameid) !== parseInt(gameId)) {
                            gameThumbnail.style.display = 'none'
                        } else {
                            gameThumbnail.style.display = 'block'
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}
