{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.title' | trans | capitalize }}{% endblock %}
{% block body_class %}play{% endblock %}

{% block body %}
    <section class="play">
        <main>
            <h1>{{ 'pages.play.title' | trans | capitalize }}</h1>

            <div class="action_title">
                <h2>Les tables de jeux</h2>
                <form action="" method="post" class="app-form">
                    <div class="app-form-group">
                        <select name="tables_game" id="tables_game" class="app-form-control">
                            <option value="all">Tous les jeux</option>
                            {% for game in games %}
                                <option value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

            <div class="games app-grid four">
                <div class="game app-grid-item" data-gameid="1">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">Donjons & Dragons</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>24/07/2021 19:00</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Un Joueur</li>
                            <li>Un Autre</li>
                            <li>Encore Un</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Publique</a>
                        {% if app.user %}
                            <a href="#" class="app-button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app-grid-item" data-gameid="3">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">L'appel de Cthulhu</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>25/07/2021 19:23</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Un Joueur</li>
                            <li>Un Autre</li>
                            <li>Encore Un</li>
                            <li>Un Dernier</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Privée</a>
                        {% if app.user %}
                            <a class="app-button disabled" title="Partie privée">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app-grid-item" data-gameid="2">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">Chroniques Oubliées</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>26/07/2021 13:42</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Personne</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Publique</a>
                        {% if app.user %}
                            <a href="#" class="app-button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app-grid-item" data-gameid="3">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">L'appel de Cthulhu</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>27/07/2021 08:00</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Personne</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Publique</a>
                        {% if app.user %}
                            <a href="#" class="app-button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app-grid-item" data-gameid="1">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">Donjons & Dragons</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>28/07/2021 22:00</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Un Joueur</li>
                            <li>Un Autre</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Publique</a>
                        {% if app.user %}
                            <a href="#" class="app-button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div class="game app-grid-item" data-gameid="2">
                    <div class="app-grid-item-header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app-grid-item-image" />
                        <h3 class="app-grid-item-title">Chroniques Oubliées</h3>
                        <p class="app-grid-item-category">Nom du scénario</p>
                        <p class="app-grid-excerpt mb-0">
                            <strong>30/07/2021 20:30</strong>
                        </p>
                        <ul class="players mb-0">
                            <li>Un Joueur</li>
                            <li>Un Autre</li>
                        </ul>
                    </div>
                    <div class="app-grid-footer">
                        <a class="app-button disabled" title="Partie publique">Publique</a>
                        {% if app.user %}
                            <a href="#" class="app-button cta" title="Rejoindre la partie">Rejoindre</a>
                        {% else %}
                            <a class="app-button disabled" title="{{ 'pages.login.title' | trans | capitalize }}">
                                <i class="fas fa-lock"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const gamesThumbnails = document.querySelectorAll(('.game'))
            const filterSelect = document.getElementById('tables_game')
            filterSelect.addEventListener('change', event => {
                const gameId = filterSelect.value

                if (gameId === 'all') {
                    for (const gameThumbnail of gamesThumbnails) {
                        gameThumbnail.style.display = 'flex'
                    }
                } else {
                    for (const gameThumbnail of gamesThumbnails) {
                        if (parseInt(gameThumbnail.dataset.gameid) !== parseInt(gameId)) {
                            gameThumbnail.style.display = 'none'
                        } else {
                            gameThumbnail.style.display = 'flex'
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}
