{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.play.title' | trans | capitalize }}</h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <div class="app_filters">
                <h2>{{ 'pages.play.title2' | trans | capitalize }}</h2>

                <div class="app_filters_controls">
                    <select name="tables_game" id="tables_game" class="app_filter_select">
                        <option value="all">{{ 'pages.games.title' | trans | capitalize }}</option>
                        {% set scenariosGames = [] %}
                        {% for scenario in scenarios %}
                            {% if scenario.game.id not in scenariosGames %}
                                <option value="{{ scenario.game.id }}">{{ scenario.game.name }}</option>
                                {% set scenariosGames = scenariosGames|merge([scenario.game.id]) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="app_grid three app_slider xs">

                {% for scenario in scenarios %}
                    <div class="game app_grid_item app_slider_item" data-gameid="{{ scenario.game.id }}">
                        <div class="app_grid_item_header">
                            <img src="{{ asset('assets/images/games/' ~ scenario.game.media) }}" alt="{{ scenario.game.name }}" class="app_grid_item_image" />
                            <h3 class="app_grid_item_title">{{ scenario.game.name }}</h3>
                            {% if scenario.campaign %}
                                <h5 class="app_grid_item_subtitle sub">{{ scenario.campaign.name }}</h5>
                            {% endif %}
                            <h4 class="app_grid_item_subtitle">{{ scenario.name }}</h4>
                        </div>

                        <div>
                            <p class="app_grid_item_info excerpt">
                                {{ scenario.shortDescription }}
                            </p>

                            <p class="app_grid_item_infos flex around">
                                <strong>
                                    <i class="fas fa-users"></i>
                                    {{ scenario.characters | length }}/5
                                </strong>

                                <strong>{{ scenario.startAt | date('d/m/Y H:i') }}</strong>
                            </p>

                            {% if app.user %}
                                <div class="app_grid_item_thumbnails">
                                    {% for character in scenario.characters %}
                                        <p class="thumbnail" title="{{ character.fullname }}">
                                            <img src="{{ asset('assets/images/characters/' ~ character.avatar) }}" class="app_image thumbnail {% if character.user == app.user %}active{% endif %}" alt="{{ character.fullname }}">
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="app_grid_item_footer">
                            {% if app.user %}
                                <span class="app_grid_item_footer_action">
                                    {% if scenario.isPrivate %}
                                        {{ 'play.game.visibility.private' | trans | capitalize }}
                                    {% else %}
                                        {{ 'play.game.visibility.public' | trans | capitalize }}
                                    {% endif %}
                                </span>

                                {% set myCharacter = null %}
                                {% for character in scenario.characters %}
                                    {% if character.user.id == app.user.id %}
                                        {% set myCharacter = character %}
                                    {% endif %}
                                {% endfor %}
                                {% if scenario.user.id == app.user.id %}
                                    {% set myCharacter = 'MJ' %}
                                {% endif %}

                                {% if myCharacter is not null %}
                                    <a href="{{ path('play.scenario', {'id': scenario.id}) }}" class="app_grid_item_footer_action button cta" title="Rejoins la partie">Joue</a>
                                {% else %}
                                    {% if scenario.characters | length < 5 %}
                                        <a href="{{ path('user.play.candidate', {'id': scenario.id}) }}" class="app_grid_item_footer_action button cta" title="Demande à rejoindre la partie">Postule</a>
                                    {% else %}
                                        <span class="app_grid_item_footer_action">Pleine</span>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <span class="app_grid_item_footer_action disabled">
                                    {% if scenario.isPrivate %}
                                        {{ 'play.game.visibility.private' | trans | capitalize }}
                                    {% else %}
                                        {{ 'play.game.visibility.public' | trans | capitalize }}
                                    {% endif %}
                                </span>

                                <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                    {{ 'pages.login.menu' | trans | capitalize }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const gamesThumbnails = document.querySelectorAll(('.game'))
            const filterSelect = document.getElementById('tables_game')
            filterSelect.addEventListener('change', event => {
                const gameId = filterSelect.value
                if (gameId === 'all') {
                    for (const gameThumbnail of gamesThumbnails) {
                        gameThumbnail.style.display = 'flex'
                    }
                } else {
                    for (const gameThumbnail of gamesThumbnails) {
                        if (parseInt(gameThumbnail.dataset.gameid) !== parseInt(gameId)) {
                            gameThumbnail.style.display = 'none'
                        } else {
                            gameThumbnail.style.display = 'flex'
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}
