{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.invite.title' | trans | capitalize }}{% endblock %}

{% block body_class %}play{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ 'pages.play.invite.title' | trans | capitalize }}</h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans | capitalize }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <form class="app_form" method="post">
                <div class="app_form_group button">
                    <div id="characters"></div>
                    <i class="fas fa-spinner fa-spin"></i>
                    <input type="text" id="invite_charactername" name="invite_charactername" class="app_form_control" autofocus />
                    <button id="invite_charactersup">
                        <i class="fas fa-trash"></i>
                    </button>
                    <label for="invite_charactername">Rechercher un personnage</label>
                </div>

                <div class="invited app_grid five">
                    {% for i in 0..4 %}
                        <div class="app_grid_item placehold">
                            <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app_grid_item_image" />
                            <span class="app_grid_item_title">Libre</span>
                        </div>
                    {% endfor %}
                </div>

                <div class="app_form_group">
                    <p class="info">
                        <i class="far fa-hand-point-up"></i>
                        Cliquez sur une invitation pour l'enlever
                    </p>
                </div>

                <div class="app_grid two mb_0">
                    <div class="app_form_group">
                        <a href="{{ path('user.play.myscenarios') }}" class="app_button">{{ 'default.cancel' | trans | capitalize }}</a>
                    </div>

                    <div class="app_form_group">
                        <button type="submit" class="app_button cta">{{ 'play.invite.submit.label' | trans | capitalize }}</button>
                    </div>
                </div>
            </form>
        </section>

        <aside>
            <h2>{{ 'pages.play.game.title' | trans | capitalize }}</h2>

            <span>
                <img src="{{ asset('assets/images/games/' ~ scenario.game.media) }}" class="app_image" alt="{{ scenario.game.name }}">
            </span>

            <span><i class="fas fa-scroll"></i> <strong>{{ scenario.game.name }}</strong></span>

            <span><i class="fas fa-clock"></i> {{ scenario.startAt | date('d/m/Y H:i') }}</span>

            {% if scenario.isPrivate %}
                <span><i class="fas fa-eye-slash"></i> {{ 'play.game.isPrivate.label' | trans | capitalize }}</span>
            {% endif %}
        </aside>
    </article>
{% endblock %}

{% block javascripts %}
    <script defer>
        window.addEventListener("DOMContentLoaded", () => {
            const characterAddInput = document.getElementById('invite_charactername')
            const characterSupBtn = document.getElementById('invite_charactersup')
            const loader = document.querySelector('.fa-spin')
            const charactersDiv = document.getElementById('characters')

            const addcharacter = character => {
                const guestsDiv = document.querySelectorAll('.invited .app_grid_item')

                for (guestDiv of guestsDiv) {
                    if (guestDiv.classList.contains('placehold')) {
                        const guestImage = document.createElement('img')
                        const guestName = guestDiv.querySelector(('.app_grid_item_title'))

                        guestDiv.dataset.characterid = character.id
                        guestDiv.classList.remove('placehold')
                        guestDiv.innerHTML = ''

                        const guestLink = document.createElement('a')
                        guestLink.href = "#"
                        guestLink.title = "Enlever cette invitation"
                        guestLink.addEventListener('click', event => {
                            event.preventDefault()
                            deletecharacter(character)
                        })

                        guestLink.appendChild(guestImage)

                        guestName.innerHTML = character.fullname
                        guestLink.appendChild(guestName)
                        console.log(character)
                        guestImage.src = '/assets/images/characters/' + character.avatar
                        guestLink.appendChild(guestImage)

                        guestDiv.appendChild(guestLink)

                        characterAddInput.value = ''
                        charactersDiv.innerHTML = ''
                        charactersDiv.style.display = 'none'

                        return
                    }
                }
            }

            const deletecharacter = character => {
                const guestsDiv = document.querySelectorAll('.invited .app_grid_item')

                for (guestDiv of guestsDiv) {
                    if (parseInt(guestDiv.dataset.characterid) === parseInt(character.id)) {
                        const guestImage = guestDiv.querySelector(('.app_grid_item_image'))
                        const guestName = guestDiv.querySelector(('.app_grid_item_title'))
                        guestName.innerHTML = 'Libre'

                        guestDiv.innerHTML = ''
                        guestDiv.appendChild(guestImage)
                        guestDiv.appendChild(guestName)
                        guestDiv.classList.add('placehold')
                    }
                }
            }

            characterAddInput.addEventListener('input', event => {
                const characterName = characterAddInput.value

                if (characterName.length > 2) {
                    loader.style.display = 'inline'

                    const xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        charactersDiv.innerHTML = ''
                        if (this.readyState === 4 && this.status === 200) {
                            const characterDiv = document.createElement('p')
                            const characterData = JSON.parse(this.responseText)
                            if (characterData.length > 0) {
                                characterDiv.classList.add('character')
                                characterDiv.dataset.userid = characterData[0].id
                                characterDiv.innerHTML = characterData[0].fullname + ' <span>(' + characterData[0].username + ')</span>'
                                characterDiv.addEventListener('click', event => {
                                    addcharacter(characterData[0])
                                })
                                charactersDiv.appendChild(characterDiv)
                                charactersDiv.style.display = 'block'
                                loader.style.display = 'none'
                            } else {
                                characterDiv.innerHTML = 'aucun résultat…'
                                charactersDiv.appendChild(characterDiv)
                                charactersDiv.style.display = 'block'
                                loader.style.display = 'none'
                            }
                        }
                    };

                    xhttp.open("GET", '/jouer-en-ligne/rechercher-un-personnage/' + {{ scenario.game.id }} + '/' + characterName, true);
                    xhttp.send();
                } else {
                    charactersDiv.style.display = 'none'
                    loader.style.display = 'none'
                }
            })
            characterSupBtn.addEventListener('click', event => {
                event.preventDefault()
                characterAddInput.value = ''
                charactersDiv.innerHTML = ''
                charactersDiv.style.display = 'none'
            })
        })
    </script>
{% endblock %}
