{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.play.invite.title' | trans | capitalize }}{% endblock %}
{% block body_class %}play{% endblock %}

{% block body %}
    <section class="play">
        <div class="app-grid">
            <main class="app-grid-item">
                <h1>
                    {{ gameName }}&nbsp;
                    <small>{{ 'pages.play.invite.title' | trans | capitalize }}</small>
                </h1>

                <form class="app-form" method="post" action="{{ path('play.invite') }}">
                    <div class="app-form-group button">
                        <input type="text" id="invite_playername" name="invite_playername" class="app-form-control" required />
                        <button><i class="fas fa-plus"></i></button>
                        <label for="invite_playername">Rechercher un joueur</label>
                    </div>

                    <div class="invited app-grid five">
                        <div class="app-grid-item">
                            <a href="#" title="Enlever cette invitation">
                                <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app-grid-item-image" />
                                <span class="app-grid-item-title">Un Invité</span>
                            </a>
                        </div>

                        <div class="app-grid-item">
                            <a href="#" title="Enlever cette invitation">
                                <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app-grid-item-image" />
                                <span class="app-grid-item-title">Un Invité</span>
                            </a>
                        </div>

                        <div class="app-grid-item">
                            <a href="#" title="Enlever cette invitation">
                                <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app-grid-item-image" />
                                <span class="app-grid-item-title">Un Invité</span>
                            </a>
                        </div>

                        <div class="app-grid-item">
                            <a href="#" title="Enlever cette invitation">
                                <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app-grid-item-image" />
                                <span class="app-grid-item-title">Un Invité</span>
                            </a>
                        </div>

                        <div class="app-grid-item">
                            <p class="placehold">
                                <img src="{{ asset('assets/images/user_avatar.png') }}" alt="Un Invité" class="app-grid-item-image" />
                                <span class="app-grid-item-title">Libre</span>
                            </p>
                        </div>
                    </div>

                    <div class="app-form-group">
                        <input type="hidden" name="invite_game_id" value="{{ gameId }}" />
                    </div>

                    <div class="app-grid two">
                        <div class="app-form-group app-grid-item">
                            <a href="{{ app.request.headers.get('referer') }}" class="app-button">{{ 'invite.cancel.label' | trans | capitalize }}</a>
                        </div>

                        <div class="app-form-group app-grid-item">
                            <button type="submit" class="app-button cta">{{ 'invite.submit.label' | trans | capitalize }}</button>
                        </div>
                    </div>
                </form>
            </main>

            <aside class="app-grid-item">
                <dl>
                    <dt>Nom du scénario</dt>
                    <dd>{{ formData['play_tablename'] }}</dd>

                    <dt>Paramètres de la table</dt>
                    <dd>
                        <i class="fas fa-clock"></i>&nbsp;{{ formData['play_date'] | date('d/m/Y H:i') }}
                        {% if(formData['play_private'] == "true") %}
                            <br />
                            <i class="fas fa-lock"></i>&nbsp;Partie privée
                        {% endif %}
                    </dd>
                </dl>
            </aside>
        </div>
    </section>
{% endblock %}
