{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.resetpassword.title' | trans | capitalize }}{% endblock %}
{% block body_class %}login{% endblock %}

{% block body %}
    <section class="login">
        <main>
            <h1>{{ 'pages.resetpassword.title' | trans | capitalize }}</h1>

            <p class="info">
                {{ 'pages.resetpassword.checkemail.info' | trans ({'%time%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }) | raw }}
            </p>

            <p class="info">
                {{ 'pages.resetpassword.checkemail.info2' | trans }}
                <a href="{{ path('app_forgot_password_request') }}">{{ 'pages.resetpassword.checkemail.info2link' | trans }}</a>.
            </p>
        </main>
    </section>
{% endblock %}
