{% extends 'base.html.twig' %}


{% block title %}{{ 'pages.resetpassword.title' | trans | capitalize }}{% endblock %}
{% block body_class %}login{% endblock %}

{% block body %}
    <section class="login">
        <main>
            <h1>{{ 'pages.resetpassword.title' | trans | capitalize }}</h1>

            {% for flashError in app.flashes('reset_password_error') %}
                <div class="app-alert danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <p class="info">{{ 'resetpassword.email.info' | trans | capitalize }}</p>

            {{ form_start(requestForm, {'attr': {'class': 'app-form'}}) }}
            <div class="app-form-group">
                {{ form_widget(requestForm.email, {'attr': {'class': 'app-form-control'}}) }}
                <label for="{{ requestForm.email.vars.id }}">{{ requestForm.email.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app-form-group">
                <button class="app-button cta">{{ 'resetpassword.submit.label' | trans | capitalize }}</button>
            </div>
            {{ form_end(requestForm) }}
        </main>
    </section>
{% endblock %}
