{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.characters.sheet.title' | trans | capitalize }}{% endblock %}

{% block body_class %}sheet{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ character.name }} {{ character.surname }}</h1>
            {% include 'character/sheet/' ~ character.game.slug ~ '/index.html.twig' with {'character' : character} %}
        </section>

        <aside>
            <h2>{{ 'default.more' | trans | capitalize }}</h2>

            <a href="{{ path('user.characters.infos', {'id': character.id}) }}" class="app_button" title="{{ 'pages.user.characters.infos.title' | trans | capitalize }}">
                {{ 'pages.user.characters.infos.menu' | trans | capitalize }}
            </a>

            <a href="{{ path('user.characters') }}" class="app_button" title="{{ 'pages.user.characters.title' | trans | capitalize }}">
                {{ 'default.back' | trans | capitalize }}
            </a>
        </aside>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const magicRange = document.getElementById('magicRange')
            const hitRange = document.getElementById('hitRange')

            const updateValue = (rangeInput) => {
                let val = rangeInput.value

                if (rangeInput.id === 'magicRange') {
                    type = 'magic'
                } else {
                    type = 'hit'
                }
                
                if ((val == 0) && (type =='magic')) {
                    val = "Inconscient (" + val + ")";
                } 
                if (((val == -1) || (val == 0) || (val == 1) || (val == 2) || (val == 3) || (val == 4)) && (type =='hit')) {
                    val = "Inconscient (" + val + ")";
                } 
                if (val == -2) {
                    val = "Mort (" + val + ")";
                }                    
                document.getElementById(type).innerHTML = val; 
            }

            magicRange.addEventListener('change', (event) => {
                updateValue(event.target)
            })
            
            hitRange.addEventListener('change', (event) => {
                updateValue(event.target)
            }) 
        })
    </script>
{% endblock %}
