{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.characters.sheet.title' | trans | capitalize }}{% endblock %}

{% block body_class %}sheet{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ character.name }} {{ character.surname }}</h1>
            {% include 'character/sheet/' ~ character.game.slug ~ '/index.html.twig' with {'character' : character} %}
        </section>

        <aside>
            <h2>{{ 'default.more' | trans | capitalize }}</h2>

            <a href="{{ path('user.characters.infos', {'id': character.id}) }}" class="app_button" title="{{ 'pages.user.characters.infos.title' | trans | capitalize }}">
                {{ 'pages.user.characters.infos.menu' | trans | capitalize }}
            </a>

            <a href="{{ path('user.characters') }}" class="app_button" title="{{ 'pages.user.characters.title' | trans | capitalize }}">
                {{ 'default.back' | trans | capitalize }}
            </a>
        </aside>
    </article>
{% endblock %}

{% block javascripts %}
    <script defer>
        window.addEventListener("DOMContentLoaded", () => {
            const magicRange = document.getElementById('magicRange')
            const hitRange = document.getElementById('hitRange')
            const healthRange = document.getElementById('healthRange')
            const crazyRange = document.getElementById('crazyRange')
            const pcrestRange = document.getElementById('pcrestRange')
            const coinNumber = document.getElementById('moneyNumber')

            if(coinNumber){
                coinNumber.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-argent/' + characterid + '/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-argent/' + characterid + '/' + event.target.value, true);
                    xhttp.send();
                })
            }


            const updateValue = (rangeInput) => {
                let val = rangeInput.value
                let type

                if (rangeInput.id === 'magicRange') {
                    type = 'magic'
                }
                if (rangeInput.id === 'hitRange') {
                    type = 'hit'
                }
                if (rangeInput.id === 'crazyRange') {
                    type = 'crazy'
                }
                if (rangeInput.id === 'pcrestRange') {
                    type = 'pcrest'
                }
                if (rangeInput.id === 'healthRange') {
                    type = 'health'
                }

// Spécificités
                if ((val == 0) && (type == 'magic')) {
                    val = "Inconscient (" + val + ")";
                }
                if (((val == -1) || (val == 0) || (val == 1) || (val == 2) || (val == 3) || (val == 4)) && (type == 'hit')) {
                    val = "Inconscient (" + val + ")";
                }
                if (val == -2) {
                    val = "Mort (" + val + ")";
                }

// Affichage    
                document.getElementById(type).innerHTML = val;
            }
            // ------------------------------------      Mis à jour sur le changement en local      ------------------------------------------
                       
            if (magicRange) {
                magicRange.addEventListener('input', (event) => {
                    updateValue(event.target)
                })

                magicRange.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-caracteristique-base/' + characterid + '/PM/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-caracteristique-base/' + characterid + '/PM/' + event.target.value, true);
                    xhttp.send();
                })
            }
// ---------------------------------------------------------------------------------------------------------------------------------
            if (hitRange) {
                hitRange.addEventListener('input', (event) => {
                    updateValue(event.target)
                })

                hitRange.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-caracteristique-base/' + characterid + '/PI/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-caracteristique-base/' + characterid + '/PI/' + event.target.value, true);
                    xhttp.send();
                })
            }
// --------------------------------------------------------------------------------------------------------------------------------
            if (healthRange) {
                healthRange.addEventListener('input', (event) => {
                    updateValue(event.target)                
                })

                healthRange.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-caracteristique-base/' + characterid + '/PV/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-caracteristique-base/' + characterid + '/PV/' + event.target.value, true);
                    xhttp.send();
                })
            }
// ----------------------------------------------------------------------------------------------------------------------------
            if (crazyRange) {
                crazyRange.addEventListener('input', (event) => {
                    updateValue(event.target)
                })

                crazyRange.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-caracteristique-base/' + characterid + '/PF/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-caracteristique-base/' + characterid + '/PF/' + event.target.value, true);
                    xhttp.send();
                })
            }
// -------------------------------------------------------------------------------------------------------------------------
            if (pcrestRange) {
                pcrestRange.addEventListener('input', (event) => {
                    updateValue(event.target)
                })

                pcrestRange.addEventListener('change', (event) => {
                    const xhttp = new XMLHttpRequest();
                    
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {                   
                            const res = JSON.parse(this.responseText)
                            alert(res.message)
                        }
                    }

                    characterid = event.target.dataset.characterid
                    console.log('/tes-personnages/modifier-caracteristique-base/' + characterid + '/PC/' + event.target.value)
                    xhttp.open("GET", '/tes-personnages/modifier-caracteristique-base/' + characterid + '/PC/' + event.target.value, true);
                    xhttp.send();
                })
            }
        })
    </script>
{% endblock %}
