{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.games.title' | trans | capitalize }}{% endblock %}

{% block body_class %}games{% endblock %}

{% block body %}
    <article>
        <section>
            <h1>{{ 'pages.games.title' | trans | capitalize }}</h1>

            <div class="app_grid three app_slider xs">

                {% for game in games %}
                    <div class="game app_grid_item app_slider_item">
                        <div class="app_grid_item_header">
                            <img src="{{ asset('assets/images/games/' ~ game.media) }}" alt="{{ game.name }}" class="app_grid_item_image" />
                            <h3 class="app_grid_item_title">{{ game.name }}</h3>
                            <h4 class="app_grid_item_subtitle">{{ game.gameCategory.name }}</h4>
                            <p class="app_grid_item_info excerpt {% if app.user %}mb_0{% endif %}">
                                {{ game.shortDescription }}
                            </p>
                        </div>
                        <div class="app_grid_item_footer">
                            {% if app.user %}
                                <a href="#" class="app_grid_item_footer_action button modal" title="Règles du jeu (pdf)" data-modal="gamerules-{{ game.id }}">Les règles</a>

                                <a href="{{ path('user.play.create', { 'gameId': game.id }) }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.play.create.title' | trans | capitalize }}">{{ 'pages.play.create.menu' | trans | capitalize }}</a>
                            {% else %}
                                <span class="app_grid_item_footer_action disabled" title="Connecte-toi pour voir les règles">Les règles</span>

                                <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="Connecte-toi pour créer une table de jeu">
                                    {{ 'pages.login.menu' | trans | capitalize }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if app.user and game.gameRules | length > 0 %}
                        <div class="app_modal" id="gamerules-{{ game.id }}">
                            <div class="app_modal_box">
                                <button class="app_button app_modal_close">
                                    <i class="fas fa-times"></i>
                                </button>
                                <div class="app_modal_body">
                                    <h2 class="app_modal_title">{{ game.name }}
                                        <small>Règles du jeu</small>
                                    </h2>
                                    {% for gameRules in game.gameRules %}
                                        <p>
                                            <a href="{{ asset('assets/gamerules/' ~ gameRules.filename) }}" class="app_button" target="_blank" rel="noopener noreferrer" title="{{ gameRules.name }}">
                                                {{ gameRules.name }}
                                            </a>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                {#<div class="game app_grid_item app_slider_item">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Donjons & Dragons</h3>
                        <h4 class="app_grid_item_subtitle">Heroïc Fantasy</h4>
                        <p class="app_grid_item_info excerpt {% if app.user %}mb_0{% endif %}">
                            Donjons et Dragons (en anglais Dungeons & Dragons), souvent abrégé en D&D, DnD ou AD&D, est l'un des tout premiers jeux de rôle sur table de genre médiéval-fantastique.
                        </p>
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <a href="#" class="app_grid_item_footer_action button modal" title="Règles du jeu (pdf)" data-modal="gamerules-1">Les règles</a>

                            <a href="{{ path('play.create', { 'gameId': 1 }) }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.play.create.title' | trans | capitalize }}">{{ 'pages.play.create.menu' | trans | capitalize }}</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Les règles</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    <div class="app_modal" id="gamerules-1">
                        <div class="app_modal_box">
                            <button class="app_button app_modal_close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app_modal_body">
                                <h2 class="app_modal_title">Donjons & Dragons
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="game app_grid_item app_slider_item">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">Chroniques Oubliées</h3>
                        <h4 class="app_grid_item_subtitle">Fantasy, Contemporain</h4>
                        <p class="app_grid_item_info excerpt {% if app.user %}mb_0{% endif %}">
                            Chroniques Oubliées peut être considéré comme un jeu de rôle d'initiation. D'heroic fantasy pour ses premières versions, il a été édité en premier lieu en 2009 par Black Book sous forme de boîte.
                        </p>
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <a href="#" class="app_grid_item_footer_action button modal" title="Règles du jeu (pdf)" data-modal="gamerules-2">Les règles</a>

                            <a href="{{ path('play.create', { 'gameId': 2 }) }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.play.create.title' | trans | capitalize }}">{{ 'pages.play.create.menu' | trans | capitalize }}</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Les règles</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    <div class="app_modal" id="gamerules-2">
                        <div class="app_modal_box">
                            <button class="app_button app_modal_close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app_modal_body">
                                <h2 class="app_modal_title">Chroniques Oubliées
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="game app_grid_item app_slider_item">
                    <div class="app_grid_item_header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app_grid_item_image" />
                        <h3 class="app_grid_item_title">L'appel de Cthulhu</h3>
                        <h4 class="app_grid_item_subtitle">Contemporain</h4>
                        <p class="app_grid_item_info excerpt {% if app.user %}mb_0{% endif %}">
                            L'Appel de Cthulhu (Call of Cthulhu) est un jeu de rôle créé aux États-Unis en 1981 par Sandy Petersen. Le titre vient de la nouvelle du même nom écrite par l'écrivain fantastique américain H. P. Lovecraft.
                        </p>
                    </div>
                    <div class="app_grid_item_footer">
                        {% if app.user %}
                            <a href="#" class="app_grid_item_footer_action button modal" title="Règles du jeu (pdf)" data-modal="gamerules-3">Les règles</a>

                            <a href="{{ path('play.create', { 'gameId': 3 }) }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.play.create.title' | trans | capitalize }}">{{ 'pages.play.create.menu' | trans | capitalize }}</a>
                        {% else %}
                            <span class="app_grid_item_footer_action">Les règles</span>

                            <a href="{{ path('app_login') }}" class="app_grid_item_footer_action button cta" title="{{ 'pages.login.title' | trans | capitalize }}">
                                {{ 'pages.login.menu' | trans | capitalize }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    <div class="app_modal" id="gamerules-3">
                        <div class="app_modal_box">
                            <button class="app_button app_modal_close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app_modal_body">
                                <h2 class="app_modal_title">L'appel de Cthulhu
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app_button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}#}

            </div>
        </section>
    </article>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const modalButtons = document.querySelectorAll('.modal')
            for (const modalButton of modalButtons) {
                modalButton.addEventListener('click', event => {
                    event.preventDefault()
                    const modalId = modalButton.dataset.modal
                    const modal = document.getElementById(modalId)
                    modal.style.display = 'flex'
                })
            }
            const modalCloseButtons = document.querySelectorAll('.app_modal_close')
            for (const modalCloseButton of modalCloseButtons) {
                modalCloseButton.addEventListener('click', () => {
                    modalCloseButton.parentNode.parentNode.style.display = 'none'
                })
            }
        })
    </script>
{% endblock %}
