<div class="characteristics app_grid four">
    <div class="htitle">
        Carac.
    </div>
    <div class="htitle">
        Valeur
    </div>
    <div class="htitle">
        Mod.
    </div>
</div>

{% for characterCharacteristic in character.characterCharacteristics %}
    {% if characterCharacteristic.characteristic.type == 'Type' %}
        <div class="characteristics app_grid four">
            <div class="border_title">
                <div class="vtitle">
                    {{ characterCharacteristic.characteristic.shortname }}
                </div>
                <div class="subtitle">
                    {{ characterCharacteristic.characteristic.name }}
                </div>
            </div>
            <div class="border_title data_case">
                {{ characterCharacteristic.base }}
            </div>
            <div class="border_title data_case">
                {% if (characterCharacteristic.modifyer >= 0) %}
                    +{{ characterCharacteristic.modifyer }}
                {% else %}
                    {{ characterCharacteristic.modifyer }}
                {% endif %}
            </div>
            <div class="border_title"></div>
        </div>
    {% endif %}
{% endfor %}
