{% for characterCharacteristic in character.characterCharacteristics %}
    {% if characterCharacteristic.characteristic.shortname == 'PC' %}
        <div class="shock app_grid three">
            <div>
                <div class="vtitle">
                    {{ characterCharacteristic.characteristic.shortname }}
                </div>
                <div class="subtitle">
                    {{ characterCharacteristic.characteristic.name }}
                </div>
            </div>
            <div class="border_title data_case">
                {{ characterCharacteristic.base }}
            </div>
            <div class="border_title data_case"></div>
        </div>
    {% endif %}
{% endfor %}

<div class="shock app_grid two">
    <div>
        <div class="htitle">
            Points de folie: <span id="crazy" class="slide">{{ crazyPoints }}</span>
        </div>
        <div class="htitle">
            <input type="range" min="0" max="100" step="1" list="tickmarks" id="crazyRange" data-characterid="{{ character.id }}" value="{{ crazyPoints }}">
                <datalist id="tickmarks">
                    <option value="0">
                    <option value="25">
                    <option value="50">
                    <option value="75">
                    <option value="100">
                </datalist>
            </input>
        </div>
    </div>
    <div>
        <div class="htitle">
            PC restants: <span id="pcrest" class="slide">{{ pcRestPoints }}</span>
        </div>
        <div class="htitle">
            <input type="range" min="0" max="100" step="1" list="tickmarks" id="pcrestRange" data-characterid="{{ character.id }}" value="{{ pcRestPoints }}">
                <datalist id="tickmarks">
                    <option value="0">
                    <option value="25">
                    <option value="50">
                    <option value="75">
                    <option value="100">
                </datalist>
            </input>
        </div>
    </div>
</div>