<div class="controls">
    <div class="top">
        {% if myCharacter.name != 'MJ' %}
        <a href="{{ path('user.characters.sheet', {'id': myCharacter.id}) }}" title="Ta fiche perso">
            <i class="fas fa-scroll"></i>
            <br />
            {{ myCharacter.name }}
        </a>
        {% else %}
        {% for character in scenario.characters %}
        <div class="character">
            <a href="#" class="modal mb_0" title="Fiche perso de {{ character.fullname }}" data-modal="character-{{ character.id }}">
                <i class="fas fa-scroll"></i>
                <br />
                {{ character.name }}
            </a>
            <a href="#" class="kick" title="Vire {{ character.fullname }} de la table de jeu" data-characterid="{{ character.id }}" data-charactername="{{ character.fullname }}">
                <i class="fas fa-sign-out-alt" data-characterid="{{ character.id }}" data-charactername="{{ character.fullname }}"></i>
            </a>
        </div>
        <div class="app_modal" id="character-{{ character.id }}">
            <div class="app_modal_box">
                <button class="app_button app_modal_close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="app_modal_body">
                    {% include 'character/sheet/modal.html.twig' with {'character': character} %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div id="diceset">
        <h3 class="name">{{ scenario.game.gamesystem.diceset.name }}</h3>
        <div class="dices">
            <a href="#" title="Ajouter un D">
                <img src="{{ asset('assets/images/home_dices.png') }}" alt="Temp" style="transform: rotate(140deg);" />
            </a>
        </div>
    </div>

    <div class="bottom">
        {% if myCharacter.name == 'MJ' %}
            <a href="{{ path('play') }}" id="end" class="warning" title="Clôture la table de jeu">
                <i class="fas fa-trophy"></i>
                <br />
                Fin
            </a>
        {% endif %}

        <a href="{{ path('play') }}" id="quit" class="danger" title="Quitte la table de jeu">
            <i class="fas fa-sign-out-alt"></i>
            <br />
            Quitte
        </a>
    </div>
</div>
