{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.games.title' | trans | capitalize }}{% endblock %}
{% block body_class %}games{% endblock %}

{% block body %}
    <section class="games">
        <main>
            <h1>{{ 'pages.games.title' | trans | capitalize }}</h1>

            <div class="app-grid three">
                <div class="app-grid-item">
                    <div class="app-grid-header">
                        <img src="{{ asset('assets/images/games/cover_add.png') }}" alt="Donjons & Dragons" class="app-grid-item-image" />
                        <h2 class="app-grid-item-title">Donjons & Dragons</h2>
                        <p class="app-grid-item-category">Heroïc Fantasy</p>
                    </div>
                    <div class="app-grid-body">
                        <p class="app-grid-excerpt">
                            Donjons et Dragons (en anglais Dungeons & Dragons), souvent abrégé en D&D, DnD ou AD&D, est l'un des tout premiers jeux de rôle sur table de genre médiéval-fantastique.
                        </p>
                    </div>
                    {% if app.user %}
                        <div class="app-grid-footer">
                            <a href="#" class="app-button modal" title="Règles du jeu" data-modal="app-grid-gamerules-1">Règles du jeu</a>
                            <a href="{{ path('play.create', { 'gameId': 1 }) }}" class="app-button cta" title="Jouer en ligne">Créer une table</a>
                        </div>
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="app-modal" id="app-grid-gamerules-1">
                        <div class="app-modal-box">
                            <button class="app-button app-modal-close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app-modal-body">
                                <h2 class="app-modal-title">Donjons & Dragons
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="app-grid-item">
                    <div class="app-grid-header">
                        <img src="{{ asset('assets/images/games/cover_cob.png') }}" alt="Chroniques Oubliées" class="app-grid-item-image" />
                        <h2 class="app-grid-item-title">Chroniques Oubliées</h2>
                        <p class="app-grid-item-category">Fantasy, Contemporain</p>
                    </div>
                    <div class="app-grid-body">
                        <p class="app-grid-excerpt">
                            Chroniques Oubliées peut être considéré comme un jeu de rôle d'initiation. D'heroic fantasy pour ses premières versions, il a été édité en premier lieu en 2009 par Black Book sous forme de boîte.
                        </p>
                    </div>
                    {% if app.user %}
                        <div class="app-grid-footer">
                            <a href="#" class="app-button modal" title="Règles du jeu" data-modal="app-grid-gamerules-2">Règles du jeu</a>
                            <a href="{{ path('play.create', { 'gameId': 2 }) }}" class="app-button cta" title="Jouer en ligne">Créer une table</a>
                        </div>
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="app-modal" id="app-grid-gamerules-2">
                        <div class="app-modal-box">
                            <button class="app-button app-modal-close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app-modal-body">
                                <h2 class="app-modal-title">Chroniques Oubliées
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="app-grid-item">
                    <div class="app-grid-header">
                        <img src="{{ asset('assets/images/games/cover_cth.png') }}" alt="L'appel de Cthulhu" class="app-grid-item-image" />
                        <h2 class="app-grid-item-title">L'appel de Cthulhu</h2>
                        <p class="app-grid-item-category">Contemporain</p>
                    </div>
                    <div class="app-grid-body">
                        <p class="app-grid-excerpt">
                            L'Appel de Cthulhu (Call of Cthulhu) est un jeu de rôle créé aux États-Unis en 1981 par Sandy Petersen. Le titre vient de la nouvelle du même nom écrite par l'écrivain fantastique américain H. P. Lovecraft.
                        </p>
                    </div>
                    {% if app.user %}
                        <div class="app-grid-footer">
                            <a href="#" class="app-button modal" title="Règles du jeu" data-modal="app-grid-gamerules-3">Règles du jeu</a>
                            <a href="{{ path('play.create', { 'gameId': 3 }) }}" class="app-button cta" title="Jouer en ligne">Créer une table</a>
                        </div>
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="app-modal" id="app-grid-gamerules-3">
                        <div class="app-modal-box">
                            <button class="app-button app-modal-close">
                                <i class="fas fa-times"></i>
                            </button>
                            <div class="app-modal-body">
                                <h2 class="app-modal-title">L'appel de Cthulhu
                                    <small>Règles du jeu</small>
                                </h2>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Règles">Le livre des Règles</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre du Joueur">Le livre du Joueur</a>
                                </p>
                                <p>
                                    <a href="test.pdf" class="app-button" target="_blank" rel="noopener noreferrer" title="Livre des Créatures">Le livre des Créatures</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const modalButtons = document.querySelectorAll('.modal')
            for (const modalButton of modalButtons) {
                modalButton.addEventListener('click', event => {
                    event.preventDefault()
                    const modalId = modalButton.dataset.modal
                    const modal = document.getElementById(modalId)
                    modal.style.display = 'flex'
                })
            }

            const modalCloseButtons = document.querySelectorAll('.app-modal-close')
            for (const modalCloseButton of modalCloseButtons) {
                modalCloseButton.addEventListener('click', () => {
                    modalCloseButton.parentNode.parentNode.style.display = 'none'
                })
            }
        })
    </script>
{% endblock %}
