<div class="magic app_grid two">
    <div>
        <div class="htitle">
            points de magie
        </div>
        <div class="htitle">
            <input type="range" min="0" max="68" step="1" list="tickmarks" id="magicRange" data-characterid="{{ character.id }}" value="{{ magicPoints }}">
                <datalist id="tickmarks">
                    <option value="0" label="Inconscient">
                    <option value="10">
                    <option value="20">
                    <option value="30">
                    <option value="40">
                    <option value="50">
                    <option value="60">
                    <option value="68" label="Max">
                </datalist>
            </input>
        </div>
        <div class="htitle">
            <span id="magic" class="slide">{{ magicPoints }}</span>
        </div>
    </div>

    <div>
        <div class="htitle">
            points d'impact
        </div>
        <div class="htitle">
            <input type="range" min="-2" max="68" step="1" list="tickmarks"  id="hitRange" data-characterid="{{ character.id }}" value="{{ hitPoints }}">
                <datalist id="tickmarks">
                    <option value="-2" label="Mort">
                    <option value="10">
                    <option value="20">
                    <option value="30">
                    <option value="40">
                    <option value="50">
                    <option value="60">
                    <option value="68" label="Max">
                </datalist>
            </input>
        </div>
        <div class="htitle">
            <span id="hit" class="slide">{{ hitPoints }}</span>
        </div>
    </div>
</div>

