{% apply inline_css %}
    <style>
        body {
            color: #271002;
            background-color: #fffaeb;
        }

        header {
            position: relative;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1.5rem;
            background-color: #6b2b06;
            box-shadow: 0px 2px 0.5rem #271002;
        }

        main {
            margin: -0.5rem 0 0;
            padding: 2rem 1.5rem;
            background-color: #ffeaae;
        }

        h1 {
            margin: 0 0 2rem;
            padding: 1.5rem 0.5rem;
            font-family: "PT Sans", sans-serif;
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 2.5rem;
            text-align: center;
            color: #873608;
            background-color: #fffaeb;
            text-shadow: 1px 1px 1px rgba(39, 16, 2, 0.25);
        }

        p {
            padding: 0.5rem 1.5rem;
        }

        a {
            color: #155166;
        }

        footer {
            padding: 1rem 1.5rem;
            text-align: center;
            color: #ffeaae;
            background-color: #271002;
        }
    </style>

    <header>
        <a href="http://localhost:8080{{ path('home') }}" title="Aller sur le site">
            <img src="http://localhost:8080{{ asset('assets/images/logo_adndd.png') }}" alt="{{ appConfig.getAppName() }}">
        </a>
    </header>

    <main>
        <h1>Salut, {{ name }} !</h1>

        <p>
            Pour régénérer ton mot de passe, clique sur le lien ci-dessous :
            <br />
            <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
        </p>

        <p>
            Mais fais vite !!
            <br />
            Ce lien expirera {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} après son envoi.
        </p>
    </main>

    <footer>
        <p>
            On te souhaite de belles parties :)
            <br />
            <a href="http://localhost:8080{{ path('home') }}" title="Aller sur le site">
                <img src="http://localhost:8080{{ asset('assets/images/logo_adndd_full.png') }}" alt="{{ appConfig.getAppName() }}">
            </a>
            <br />
            {{ appConfig.getAppAuthor() }}
        </p>
    </footer>
{% endapply %}
