{% if myCharacter.name != 'MJ' %}
    <a href="{{ path('user.characters.sheet', {'id': myCharacter.id}) }}" title="Ta fiche perso">
        <i class="fas fa-scroll"></i>
        <br />
        {{ myCharacter.name }}
    </a>
{% else %}
    {% for character in scenario.characters %}
        <div class="character">
            <a href="#" class="modal mb_0" title="Fiche perso de {{ character.fullname }}" data-modal="character-{{ character.id }}">
                <img src="{{ asset('assets/images/characters/' ~ character.avatar) }}" class="app_image" title="{{ character.fullname }}" />
                <small>{{ character.name | length > 7 ? character.name | slice(0, 7) ~ '…' : character.name }}</small>
            </a>
            <a href="#" class="kick" title="Vire {{ character.fullname }} de la table de jeu" data-characterid="{{ character.id }}" data-charactername="{{ character.fullname }}">
                <i class="fas fa-sign-out-alt" data-characterid="{{ character.id }}" data-charactername="{{ character.fullname }}"></i>
            </a>
        </div>
        <div class="app_modal" id="character-{{ character.id }}">
            <div class="app_modal_box">
                <button class="app_button app_modal_close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="app_modal_body">
                    {% include 'character/sheet/modal.html.twig' with {'character': character} %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
