<footer class="app_footer">
    <div class="app_footer_links">
        <nav>
            <h3>Aide</h3>
            <ul>
                <li>
                    <a href="{{ path('about') }}" {% if app.request.get('_route') == 'about' %}class="active"{% endif %} title="{{ 'pages.about.title' | trans | capitalize }}">
                        {{ 'pages.about.menu' | trans | capitalize }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('faq') }}" {% if app.request.get('_route') == 'faq' %}class="active"{% endif %} title="{{ 'pages.faq.title' | trans | capitalize }}">
                        {{ 'pages.faq.menu' | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" {% if app.request.get('_route') == 'contact' %}class="active"{% endif %} title="{{ 'pages.contact.title' | trans | capitalize }}">
                        {{ 'pages.contact.menu' | trans | capitalize }}
                    </a>
                </li>
            </ul>
        </nav>

        <nav>
            <h3>Jeux de rôles</h3>
            <ul>
                <li>
                    <a href="{{ path('games') }}" {% if app.request.get('_route') == 'games' %}class="active"{% endif %} title="{{ 'pages.games.title' | trans | capitalize }}">
                        {{ 'pages.games.menu' | trans | capitalize }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('play') }}" {% if app.request.get('_route') == 'play' %}class="active"{% endif %} title="{{ 'pages.play.title' | trans | capitalize }}">
                        {{ 'pages.play.menu' | trans | capitalize }}
                    </a>
                </li>
            </ul>
        </nav>

        <nav>
            <h3>Suis-nous</h3>
            <ul>
                <li>
                    <a href="{{ path('home') }}" title="">
                        …
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" title="">
                        …
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}" title="">
                        …
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="app_footer_links legals">
        {% set slug = app.request.get('slug') %}
        <a href="{{ path('legal', {'slug': 'mentions-legales'}) }}" {% if slug == 'mentions-legales' %}class="active"{% endif %} title="{{ 'pages.legals.mentions.title' | trans | capitalize }}">
            {{ 'pages.legals.mentions.menu' | trans | capitalize }}
        </a>
        <a href="{{ path('legal', {'slug': 'conditions-generales-dutilisation'}) }}" {% if slug == 'conditions-generales-dutilisation' %}class="active"{% endif %} title="{{ 'pages.legals.ugc.title' | trans | capitalize }}">
            {{ 'pages.legals.ugc.menu' | trans | capitalize }}
        </a>
        <a href="{{ path('legal', {'slug': 'confidentialite-et-cookies'}) }}" {% if slug == 'confidentialite-et-cookies' %}class="active"{% endif %} title="{{ 'pages.legals.privacy.title' | trans | capitalize }}">
            {{ 'pages.legals.privacy.menu' | trans | capitalize }}
        </a>
    </div>

    <a href="{{ path('home') }}" class="app_logo" title="{{ 'pages.home.title' | trans | capitalize }}">
        <img src="{{ asset('assets/images/logo_adndd_full.png') }}" alt="{{ appConfig.getAppName() }}" />
    </a>

    <p class="copyrights">
        © {{ appConfig.getAppAuthor() }} {{ 'now' | date('Y') }}. {{ 'default.copyrights' | trans | capitalize }}.
    </p>
</footer>
