<header class="app_header">
    <a href="{{ path('home') }}" class="app_logo" title="{{ 'pages.home.title' | trans | capitalize }}">
        <img src="{{ asset('assets/images/logo_adndd.png') }}" alt="{{ appConfig.getAppName() }}" />
    </a>

    <input class="app_navigation_toggle" type="checkbox" id="menu_btn" />
    <label class="app_navigation_toggle_icon" for="menu_btn">
        <span class="navicon"></span>
    </label>

    <nav class="app_navigation">
        <ul>
            <li>
                <a href="{{ path('about') }}" {% if app.request.get('_route') == 'about' %}class="active"{% endif %} title="{{ 'pages.about.title' | trans | capitalize }}">
                    {{ 'pages.about.menu' | trans | capitalize }}
                </a>
            </li>

            <li>
                <a href="{{ path('play') }}" class="app_button cta {% if app.request.get('_route') == 'play' or app.request.get('_route') == 'play.scenario' %}active{% endif %}" title="{{ 'pages.play.title' | trans | capitalize }}">
                    {{ 'pages.play.menu' | trans | capitalize }}
                </a>
            </li>

            <li>
                <a href="{{ path('games') }}" {% if app.request.get('_route') == 'games' %}class="active"{% endif %} title="{{ 'pages.games.title' | trans | capitalize }}">
                    {{ 'pages.games.menu' | trans | capitalize }}
                </a>
            </li>

            <li>
                <a href="{{ path('contact') }}" {% if app.request.get('_route') == 'contact' %}class="active"{% endif %} title="{{ 'pages.contact.title' | trans | capitalize }}">{{ 'pages.contact.menu' | trans | capitalize }}</a>
            </li>

            {% if app.user %}
                <li>
                    <a href="#" {% if 'user' in app.request.get('_route') %}class="active"{% endif %}>{{ app.user.pseudo is not null ? app.user.pseudo : app.user.fullname }}</a>

                    <ul class="app_navigation_dropdown">
                        <li>
                            <a href="{{ path('user.profile') }}" {% if app.request.get('_route') == 'user.profile' or app.request.get('_route') == 'user.password' %}class="active"{% endif %} title="{{ 'pages.user.title' | trans | capitalize }}">
                                {{ 'pages.user.menu' | trans | capitalize }}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('user.characters') }}" {% if 'user.characters' in app.request.get('_route') %}class="active"{% endif %} title="{{ 'pages.user.characters.title' | trans | capitalize }}">
                                {{ 'pages.user.characters.menu' | trans | capitalize }}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('user.play.mygames') }}" {% if app.request.get('_route') == 'user.play.mygames' %}class="active"{% endif %} title="{{ 'pages.user.games.title' | trans | capitalize }}">
                                {{ 'pages.user.games.menu' | trans | capitalize }}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('user.play.myscenarios') }}" {% if app.request.get('_route') == 'user.play.myscenarios' %}class="active"{% endif %} title="{{ 'pages.user.plays.title' | trans | capitalize }}">
                                {{ 'pages.user.plays.menu' | trans | capitalize }}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('app_logout') }}" title="{{ 'pages.logout.title' | trans | capitalize }}">
                                {{ 'pages.logout.menu' | trans | capitalize }}
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}" {% if app.request.get('_route') == 'app_login' %}class="active"{% endif %} title="{{ 'pages.login.title' | trans | capitalize }}">
                        {{ 'pages.login.menu' | trans | capitalize }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
