<header class="app-header">
    <a href="{{ path('home') }}" class="app-logo" title="{{ 'pages.home.title' | trans | capitalize }}">
        <img src="{{ asset('assets/images/logo-adndd.png') }}" alt="{{ appConfig.getAppName() }}">
    </a>

    <input class="app-navigation-toggle" type="checkbox" id="menu-btn" />
    <label class="app-navigation-toggle-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>

    <nav class="app-navigation">
        <ul>
            <li>
                <a href="{{ path('about') }}" {% if app.request.get('_route') == 'about' %}class="active"{% endif %} title="{{ 'pages.about.title' | trans | capitalize }}">{{ 'pages.about.menu' | trans | capitalize }}</a>
            </li>

            <li>
                <a href="{{ path('play') }}" {% if app.request.get('_route') == 'play' %}class="active"{% endif %} title="{{ 'pages.play.title' | trans | capitalize }}">
                    {{ 'pages.play.menu' | trans | capitalize }}
                </a>
            </li>

            <li>
                <a href="{{ path('games') }}" {% if app.request.get('_route') == 'games' %}class="active"{% endif %} title="{{ 'pages.games.title' | trans | capitalize }}">
                    {{ 'pages.games.menu' | trans | capitalize }}
                </a>
            </li>

            <li>
                <a href="{{ path('contact') }}" {% if app.request.get('_route') == 'contact' %}class="active"{% endif %} title="{{ 'pages.contact.title' | trans | capitalize }}">{{ 'pages.contact.menu' | trans | capitalize }}</a>
            </li>

            {% if app.user %}
                <li>
                    <a href="#">{{ app.user.pseudo is not null ? app.user.pseudo : app.user.fullname }}</a>

                    <ul class="app-navigation-dropdown">
                        <li>
                            <a href="{{ path('user.profile') }}" {% if app.request.get('_route') == 'user.profile' %}class="active"{% endif %} title="{{ 'pages.user.title' | trans | capitalize }}">{{ 'pages.user.menu' | trans | capitalize }}</a>
                        </li>

                        <li>
                            <a href="{{ path('home') }}" title="{{ 'pages.user.characters.title' | trans | capitalize }}">{{ 'pages.user.characters.menu' | trans | capitalize }}</a>
                        </li>

                        <li>
                            <a href="{{ path('home') }}" title="{{ 'pages.user.games.title' | trans | capitalize }}">{{ 'pages.user.games.menu' | trans | capitalize }}</a>
                        </li>

                        <li>
                            <a href="{{ path('home') }}" title="{{ 'pages.user.tables.title' | trans | capitalize }}">{{ 'pages.user.tables.menu' | trans | capitalize }}</a>
                        </li>

                        <li>
                            <a href="{{ path('app_logout') }}" title="{{ 'pages.logout.title' | trans | capitalize }}">{{ 'pages.logout.menu' | trans | capitalize }}</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}" title="{{ 'pages.login.title' | trans | capitalize }}">{{ 'pages.login.menu' | trans | capitalize }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
