{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.login.title' | trans | capitalize }}{% endblock %}
{% block body_class %}about{% endblock %}

{% block body %}
    <section class="about">
        <main>
            <h1>{{ 'pages.login.title' | trans | capitalize }}</h1>

            {% if error %}
                <div class="app-alert danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="app-alert warning">
                    You are logged in as {{ app.user.username }},
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <form class="app-form" method="post">
                <div class="app-grid two">
                    <div class="app-form-group app-grid-item">
                        <input type="email" value="{{ last_username }}" name="login_email" id="login_email" class="app-form-control" autocomplete="email" required autofocus />
                        <label for="login_email">{{ 'login.email.label' | trans | capitalize }}</label>
                    </div>

                    <div class="app-form-group app-grid-item">
                        <input type="password" name="login_password" id="login_password" class="app-form-control" autocomplete="current-password" required />
                        <label for="login_password">{{ 'login.password.label' | trans | capitalize }}</label>
                    </div>
                </div>

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="app-form-group">
                    <div class="checkbox mb-3">
                        <label><input type="checkbox" name="_remember_me"> Remember me</label>
                    </div>
                </div>

                #}

                <div class="app-form-group">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button class="app-button cta" type="submit">{{ 'login.submit.label' | trans | capitalize }}</button>
                </div>
            </form>
        </main>
    </section>
{% endblock %}
