{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.password.title' | trans | capitalize }}{% endblock %}

{% block body_class %}user{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>{{ 'pages.user.password.title' | trans | capitalize }}</h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans | capitalize }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {{ form_start(form, { attr: { 'class': 'app_form'}}) }}
            <div class="app_grid two">
                <div class="app_form_group app_grid_item">
                    {{ form_widget(form.password.first) }}
                    <label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label | trans | capitalize }}</label>
                </div>

                <div class="app_form_group app_grid_item">
                    {{ form_widget(form.password.second) }}
                    <label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label | trans | capitalize }}</label>
                </div>
            </div>

            <div class="app_form_group mb_0">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </section>

        <aside>
            <h2>{{ 'pages.user.menu' | trans | capitalize }}</h2>

            <p>
                <strong>{{ app.user.fullname }}</strong>
            </p>

            <p>
                <strong>Adhérent n°</strong> {{ app.user.registerId }}</p>

            <p>
                <a href="{{ path('user.profile') }}" class="app_button" title="{{ 'pages.user.title' | trans | capitalize }}">
                    {{ 'pages.user.menu' | trans | capitalize }}
                </a>
            </p>

            <p>
                <a href="{{ path('app_logout') }}" class="app_button" title="{{ 'pages.logout.title' | trans | capitalize }}">
                    {{ 'pages.logout.menu' | trans | capitalize }}
                </a>
            </p>
        </aside>
    </article>
{% endblock %}
