{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.user.password.title' | trans | capitalize }}{% endblock %}
{% block body_class %}user{% endblock %}

{% block body %}
    <section class="user">
        <div class="app-grid two">
            <main class="app-grid-item">
                <h1>{{ 'pages.user.password.title' | trans | capitalize }}</h1>

                <!-- Flash messages -->
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        {% if loop.first %}
                            <div class="app-alert {{ label }}">
                                {{ message | trans | capitalize }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {{ form_start(form, { attr: { 'class': 'app-form'}}) }}
                <div class="app-grid two">
                    <div class="app-form-group app-grid-item">
                        {{ form_widget(form.password.first) }}
                        <label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label | trans | capitalize }}</label>
                    </div>

                    <div class="app-form-group app-grid-item">
                        {{ form_widget(form.password.second) }}
                        <label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label | trans | capitalize }}</label>
                    </div>
                </div>

                <div class="app-form-group">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </main>

            <aside class="app-grid-item">
                <h2>Mon compte</h2>

                {% if app.user.registerId is not null %}
                    <p>
                        <strong>N° adhérent :</strong> {{ app.user.registerId }}
                    </p>
                {% endif %}

                <p>
                    <a href="{{ path('user.profile') }}" title="{{ 'pages.user.title' | trans | capitalize }}">{{ 'pages.user.menu' | trans | capitalize }}</a>
                </p>

                <p>
                    <a href="{{ path('app_logout') }}" title="{{ 'pages.logout.title' | trans | capitalize }}">
                        {{ 'pages.logout.menu' | trans | capitalize }}
                    </a>
                </p>
            </aside>
        </div>
    </section>
{% endblock %}
