{% extends 'base.html.twig' %}

{% block title %}
    {% if mode == 'add' %}
        {{ 'pages.user.campaign.create.title' | trans | capitalize }}
    {% else %}
        {{ 'pages.user.campaign.edit.title' | trans | capitalize }}
    {% endif %}
{% endblock %}

{% block body_class %}campaign{% endblock %}

{% block body %}
    <article class="aside">
        <section>
            <h1>
                {% if mode == 'add' %}
                    {{ 'pages.user.campaign.create.title' | trans | capitalize }}
                {% else %}
                    {{ 'pages.user.campaign.edit.title' | trans | capitalize }}
                {% endif %}
            </h1>

            <!-- Flash messages -->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if loop.first %}
                        <div class="app_alert {{ label }}">
                            {{ message | trans | capitalize }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {{ form_start(form, { attr: { 'class': 'app_form'}}) }}
            <div class="app_form_group">
                {{ form_widget(form.game, {'disabled': mode == 'add' ? false : true, attr: {'class': mode == 'add' ? 'app_form_control' : 'app_form_control disabled'}}) }}
                <label for="{{ form.game.vars.id }}">{{ form.game.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.name) }}
                <label for="{{ form.name.vars.id }}">{{ form.name.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.shortDescription) }}
                <label for="{{ form.shortDescription.vars.id }}">{{ form.shortDescription.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.description) }}
                <label for="{{ form.description.vars.id }}">{{ form.description.vars.label | trans | capitalize }}</label>
            </div>

            <div class="app_form_group">
                {{ form_widget(form.submit, {'label': mode == 'add' ? 'campaign.submit.label' : 'campaign.edit.label'}) }}
            </div>
            {{ form_end(form) }}
        </section>

        <aside>
            <h2>
                {% if mode == 'add' %}
                    {{ 'pages.user.campaign.create.menu' | trans | capitalize }}
                {% else %}
                    {{ 'default.orelse' | trans | capitalize }}
                {% endif %}
            </h2>

            <a href="{{ app.request.headers.get('referer') }}" class="app_button">{{ 'default.back' | trans | capitalize }}</a>
        </aside>
    </article>
{% endblock %}
